@use '../global/resets';

.cta-section {
	position: relative;
	overflow: hidden;
	width: 85%;
	margin: 0 auto 8em;
	border-radius: 20px;
	height: 450px;
	display: flex;
	align-items: center;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
		z-index: 2;
	}

	.img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		object-position: top;
	}

	.img-transparent {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		object-position: top;
		z-index: 1;
	}

	.gradient-circle {
		width: 500px;
		object-fit: cover;
		position: absolute;
		object-position: top;
		top: -40%;
		left: 40%;
		transform: translate(-50%, 0);

		@media screen and (max-width: 62em) {
			width: 300px;
			top: -20%;
			left: 50%;
		}
	}

	.rec-dot-grid {
		position: absolute;
		z-index: 3;
		right: 10%;
		bottom: 10%;
	}

	.container {
		position: relative;
		z-index: 3;
		width: fit-content;
		margin: 0 auto;
		display: flex;
		align-items: center;
		width: 70%;
		// background-color: red;
		justify-content: space-between;

		.heading {
			font-size: 2rem;
			max-width: 400px;
			color: resets.$light;
		}

		.btn-wrap {
			.btn {
				@include resets.main-btn();
			}
		}
	}

	@media screen and (max-width: 62em) {
		width: 90%;

		.container {
			// background: teal;
			display: grid;
			place-content: center;
			gap: 2em;

			.heading {
				text-align: center;
			}

			.btn-wrap {
				display: flex;
				justify-content: center;
			}
		}
	}

	@media screen and (max-width: 43em) {
		width: 100%;
		border-radius: 0;

		.container {
			// background: teal;
			display: grid;
			place-content: center;
			gap: 2em;

			.heading {
				text-align: center;
			}

			.btn-wrap {
				display: flex;
				justify-content: center;
			}
		}
	}
}
