@use '../global/resets';

.navbar {
	background: resets.$light;
	height: 15vh;
	display: flex;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 5;
	transition: all 500ms ease-in-out;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include resets.breakpoints();

		.brand-wrap {
			// background: red;
			a {
				.logo {
					border-radius: 100px;
					width: 130px;
				}
			}
		}

		.nav-links {
			display: none;

			.wrap {
				.link-list {
					.link {
						@include resets.teachers-font();
						font-weight: 600;
						color: resets.$grey !important;
					}

					.contact {
						@include resets.btn();
						background: resets.$secondary-color;
						color: resets.$light !important;
					}
				}
			}

			.social-media-wrap {
				.facebook,
				.instagram,
				.x-twitter {
					color: resets.$grey;
					font-size: 1.2rem;
				}
			}
		}

		.hamburger {
			.menu-btn {
				border: none;
				background: red;
				height: 50px;
				width: 50px;
				border-radius: 10px;
				cursor: pointer;
			}
		}

		@media screen and (min-width: 43em) {
		}
		@media screen and (min-width: 62em) {
			.nav-links {
				display: flex;
				gap: 2em;
				// background: teal;
				width: 60%;
				justify-content: space-between;

				.wrap {
					display: flex;
					gap: 3em;

					.link-list {
						.link {
							color: resets.$light;
						}
					}
				}

				.social-media-wrap {
					display: flex;
					gap: 2em;
				}
			}

			.hamburger {
				display: none;
			}
		}
	}
}

.update-nav-bg {
	background: resets.$light;
	box-shadow: 1px 0 20px rgba(0, 0, 0, 0.2);

	// .container {
	// 	.nav-links {
	// 		.wrap {
	// 			.link-list {
	// 				.link {
	// 					color: grey;
	// 				}

	// 				.contact {
	// 					background: resets.$secondary-color;
	// 					color: resets.$light !important;
	// 				}
	// 			}
	// 		}

	// 		.social-media-wrap {
	// 			.facebook,
	// 			.instagram,
	// 			.x-twitter {
	// 				color: grey;
	// 			}
	// 		}
	// 	}
	// }
}
