@use '../global/resets';

.navbar {
	background: resets.$light;
	height: 15vh;
	display: flex;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 5;
	transition: all 500ms ease-in-out;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include resets.breakpoints();

		.brand-wrap {
			// background: red;
			a {
				.logo {
					border-radius: 100px;
					width: 130px;
				}
			}
		}

		.nav-links {
			position: fixed;
			background: resets.$light;
			top: 15%;
			right: 5%;
			width: 70%;
			height: fit-content;
			display: grid;
			padding: 4em 0;
			place-content: center;
			gap: 3em;
			text-align: center;

			box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
			transform: translateY(-150%);
			transition: all 700ms ease-in;

			.wrap {
				display: grid;
				gap: 2em;
				.link-list {
					.link {
						@include resets.teachers-font();
						font-weight: 600;
						color: resets.$grey !important;
					}

					.contact {
						@include resets.btn();
						background: resets.$secondary-color;
						color: resets.$light !important;
						display: inline-block;
					}
				}
			}

			.social-media-wrap {
				display: flex;
				justify-content: center;
				gap: 1.5em;

				.facebook,
				.instagram,
				.x-twitter {
					color: resets.$grey;
					font-size: 1.2rem;
				}
			}
		}

		.hamburger {
			.menu-btn {
				border: none;
				background: resets.$secondary-color;
				height: 50px;
				width: 50px;
				border-radius: 10px;
				cursor: pointer;

				i {
					color: #fff;
					font-size: 18px;
				}
			}

			.menu-close-btn {
				display: none;
			}
		}

		@media screen and (min-width: 43em) {
			.nav-links {
				width: 45%;
			}
		}
		@media screen and (min-width: 62em) {
			.nav-links {
				display: flex;
				gap: 2em;
				width: 60%;
				justify-content: space-between;
				align-items: center;

				position: unset;
				padding: unset;
				text-align: unset;
				box-shadow: unset;
				transform: unset;

				.wrap {
					display: flex;
					gap: 3em;

					.link-list {
						.link {
							color: resets.$light;
						}
					}
				}

				.social-media-wrap {
					display: flex;
					gap: 2em;
				}
			}

			.hamburger {
				display: none;
			}
		}
	}
}

.show-mobile-nav {
	transform: translateY(0) !important;
}

.remove-menu-btn {
	display: none;
}

.show-close-btn {
	display: block !important;
}

.update-nav-bg {
	background: resets.$light;
	box-shadow: 1px 0 20px rgba(0, 0, 0, 0.2);

	// .container {
	// 	.nav-links {
	// 		.wrap {
	// 			.link-list {
	// 				.link {
	// 					color: grey;
	// 				}

	// 				.contact {
	// 					background: resets.$secondary-color;
	// 					color: resets.$light !important;
	// 				}
	// 			}
	// 		}

	// 		.social-media-wrap {
	// 			.facebook,
	// 			.instagram,
	// 			.x-twitter {
	// 				color: grey;
	// 			}
	// 		}
	// 	}
	// }
}
