@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$text-gradient: linear-gradient();
$bg-gradient: linear-gradient(
	to right,
	rgb(235, 31, 34) 0%,
	rgb(62, 90, 145) 100%,
	rgb(2, 126, 197) 32%
);
$text-heading-color: #1a2d41;
$grey: #4d4d4d;

$dark: #1e1e1e;
$primary-color: #027cc5;
$secondary-color: #eb1f24;
$light: #ffffff;
$btn-shadow: -22px 0 40px rgba(0, 0, 0, 0.5);

html {
	scroll-behavior: smooth;
}

body {
	// overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: 'outfit', sans-serif;
}

p,
li,
a {
	font-family: 'teachers', sans-serif;
	font-weight: 600;
}

p {
	font-size: 16px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

@mixin breakpoints() {
	width: 90%;
	margin: 0 auto;

	@media screen and (min-width: 43em) {
	}

	@media screen and (min-width: 62em) {
		width: 80%;
	}
}

@mixin teachers-font {
	font-family: 'Teachers', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

@mixin outfit-font() {
	font-family: 'Outfit', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

@mixin btn() {
	padding: 1em 2em;
	color: #000 !important;
	// box-shadow: $btn-shadow;
	transition: all 300ms ease-in-out;
	border-radius: 8px;
	border: none;
	@include teachers-font();
	font-size: 1rem;
	font-weight: 600;
	text-transform: capitalize;

	&:hover {
		background: $secondary-color;
		color: $light !important;
	}
}

@mixin main-btn() {
	background: $primary-color;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 1em 1em 1em 1.9em;
	box-shadow: $btn-shadow;
	cursor: pointer;

	.text {
		@include outfit-font();
		font-weight: 600;
		font-size: 16px;
		color: $light;
		text-transform: capitalize;
	}

	.icon {
		height: 30px;
		width: 30px;
		background: $light;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;

		.fa-solid {
			color: $secondary-color;
		}
	}
}
